<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
    <!-- parametros para la conexion a la base de datos -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/empresa</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    
    <!-- Determina el lenguaje SQL con el que Hibernate se comunicará con la base de datos. -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    
    <!-- Archivos de mapeo donde está la información de la clase/tabla -->
    <mapping class="gal.teis.modelo.Direccion"/>
    <mapping class="gal.teis.modelo.Empleado"/>
     
  </session-factory>
</hibernate-configuration>